.react-dropdown-tree-select .dropdown .dropdown-content {
    width: 370px;
    background-color: #223348;
  }

  .node.focused {
    background-color: #223348;
  }

  .node.focused span{
    background-color: #57595e;
    border-radius: 2px;
    padding: 5px;
  }


  .checkbox-item{
    display: none;
  }

  .toggle:after{content:"."}


  .toggle.collapsed:after{
    font-weight: bold;
    font-size: large;
    color: rgb(239, 226, 226);
  }


  .toggle.expanded:after{
    font-weight: bold;
    font-size: large;
    color: rgb(239, 226, 226);

  }

  .node-label{
    color: rgb(239, 226, 226);
  }

  .react-dropdown-tree-select .dropdown .dropdown-trigger{
    display: none;
  }